Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-virtual-class-destructor,
  modernize-pass-by-value,
  modernize-use-emplace,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-using,
  performance-*,
  readability-redundant-*,
  -bugprone-easily-swappable-parameters,
  -performance-avoid-endl

WarningsAsErrors: ''

CheckOptions:
  - key: bugprone-narrowing-conversions.WarnOnEquivalentBitWidth
    value: false

HeaderFilterRegex: 'include/superkmeans/.*'
